{% extends 'portfolio/base.html' %}
{% block title %}{{ project.title }} - My Portfolio{% endblock %}
{% block content %}
  <article class="card">
    {% if project.image %}
      <img src="{{ project.image.url }}" alt="{{ project.title }}">
    {% endif %}
    <h2>{{ project.title }}</h2>
    <p>{{ project.description }}</p>
    {% if project.link %}
      <p><a href="{{ project.link }}" target="_blank" rel="noopener">View Project</a></p>
    {% endif %}

    {% if request.user.is_staff %}
      <p>
        <a href="{% url 'project-edit' project.pk %}">Edit</a> |
        <a href="{% url 'project-delete' project.pk %}">Delete</a>
      </p>
    {% endif %}
  </article>
{% endblock %}
